<div class="container pt-2">

     
     <div class="d-flex justify-content-between pt-2">
         <div class="col-6">
              <div class="row">

                   <div class="col-6 text-muted d-flex ">Account
                         <div class="d-flex gap-1">
                              <a class="ms-2 btn btn-outline-success d-flex align-items-center" href="{% url 'update_customer' customer_id=customer.id %}">
                                   <i class="fa-regular fa-pen-to-square"></i>
                              </a>
                               <button type="button" class="btn btn-outline-danger d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#deleteCustomerModal">
                                   <i class="fa-regular fa-square-minus"></i>
                              </button>
                         </div>
                   </div>
                   <div class="col-6">{{customer.account_number}}</div>
                   <hr class="mt-2">
                   <div class="col-6 text-muted">Loan type</div>
                   <div class="col-6">{{customer.loan_type}}</div>

                   <hr class="mt-2">
                   <div class="col-6 text-muted">Loan type</div>
                   <div class="col-6">{{customer.customer_name}}</div>

                   <hr class="mt-2">
                   <div class="col-6 text-muted">Open State</div>
                   <div class="col-6">{{customer.open_state}}</div>
                   <hr class="mt-2">
                   <div class="col-6 text-muted">Account status</div>
                   <div class="col-6">{{customer.acc_status}}</div>
                   <hr class="mt-2">
                   <div class="col-6 text-muted">Date request</div>
                   <div class="col-6">{{customer.date_request|date:"m/d/Y"}}</div>
                   <hr class="mt-2">
                   <div class="col-6 text-muted">Date Open account</div>
                   <div class="col-6">{{customer.date_open_acc|date:"m/d/Y" }}</div>
                   <hr class="mt-2">
                   <div class="col-6 text-muted">Military Date</div>
                   <div class="col-6">{{customer.military_date|date:"m/d/Y" }}</div>
                   <hr class="mt-2">
                   <div class="col-6 text-muted">Method notification</div>
                   <div class="col-6">{{customer.method_notification}}</div>
                   <hr class="mt-2">
              </div>
         </div>
         {% if customer.qualify == True %}
         <div class="col-5">
              <div class="row">
                   <div class="col-6 text-muted">Amount Refund</div>
                   <div class="col-6">{{customer.amount_refund }}</div>
                   <hr class="mt-2">
                   <div class="col-6 text-muted">The way Refund</div>
                   <div class="col-6">{{customer.the_way_refund}}</div>
                   <hr class="mt-2">
                   <div class="col-6 text-muted">Date Refund</div>
                   <div class="col-6">{{customer.date_refund}}</div>
                   <hr class="mt-2">
                   <div class="col-6 text-muted">Where fees?</div>
                   <div class="col-6">{{customer.where_fees}}</div>
                   <hr class="mt-2">
                   <div class="col-6 text-muted">Where Waived?</div>
                   <div class="col-6">{{customer.where_waived}}</div>
                   <hr class="mt-2">
                   <div class="col-6 text-muted">Waive Interest?</div>
                   <div class="col-6">{{customer.waive_interest}}</div>
                   <hr class="mt-2">
                   <div class="col-6 text-muted">Interest Rate</div>
                   <div class="col-6">{{customer.Interest_Rate}}</div>
                   <hr class="mt-2">
                   <div class="col-6 text-muted">Fees</div>
                   <div class="col-6">{{customer.Fees}}</div>
                   <hr class="mt-2">
              </div>
         </div>
         {% endif %}
     </div>
     <div class="">
          <h5 class="fw-bold">{{customer.added_by}} - MIL</h5>
          <p>{{customer.status_notes}}</p>
          <hr>
          <h5 class="fw-bold">{{customer.denial_by}} - DL</h5>
          <p>{{customer.denial_note}}</p>
     </div>


     <div class="modal fade" id="deleteCustomerModal"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  Are you sure want to delete this Customer?
                </h1>
                <button
                  type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <h5 class="card-title h-6">{{customer.customer_name}}</h5>
              </div>
              <div class="modal-footer">
                <button
                  type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Close
                </button>
                  <form action="{% url 'delete_customer' customer_id=customer.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger" value="Delete">
                  </form>
              </div>
            </div>
          </div>
        </div>
</div>