{% extends "base.html" %} 



{% block content %}


<div id="layoutSidenav">

<div id="layoutSidenav_content">

  <div class="main">
    <form  class="col-sm-4 p-3 mb-3 mb-sm-0" action="{% url 'list_notes' %}" method="GET">
      <div class="input-group">
        <input
          class="form-control rounded"
          id="searchnote"
          type="text"
          name="q"
          placeholder="Search"
        />
        <button
          type="submit"
          class="btn btn-outline-success"
          data-mdb-ripple-init
        >
          search
        </button>
      </div>
    </form>

    <div class="col-sm-2 px-3 col-md-4 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <div class="title fw-bold h3">Add new note</div>
          <a class="btn btn-outline-success w-100" href="{% url 'add_notes' %}">
            <div class="card-text text-center h2">
              <big class="fs-1">+</big>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row p-3">
      {% for note in notes %}
      <div class="col-sm-4 col-md-4 mb-3 mb-sm-0 py-1" id="search-results">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div>
                <p class="card-title fw-bold h5">{{note.note_title}}</p>
              </div>
              <div>
                <button  id="noteText"  data-note="{{note.note}}"  class="btn btn-success copy-note"  >Copy</button>
              </div>
            </div>
            <hr />
            <p class="card-text">{{note.note|truncatechars:170}}</p>
              <a  href="{% url 'update_notes' note.id %}" class="m-2 link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                Update
              </a>
            <a
              type="button" class="m-2 link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" data-bs-toggle="modal" data-bs-target="#deleteModal">
              Delete
            </a>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="deleteModal"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Are you sure want to delete this note?
              </h1>
              <button
                type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h5 class="card-title h-6">{{note.note_title}}</h5>
            </div>
            <div class="modal-footer">
              <button
                type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Close
              </button>
                <form action="{% url 'delete_notes' note.id %}" method="post">
                  {% csrf_token %}
                  <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var copyButtons = document.querySelectorAll('.copy-note');

    copyButtons.forEach(function(button) {
      button.addEventListener('click', function() {
        var noteContent = this.getAttribute('data-note');

        // Create a temporary input element
        var tempInput = document.createElement('textarea');
        tempInput.value = noteContent;
        document.body.appendChild(tempInput);

        // Select and copy the content
        tempInput.select();
        document.execCommand('copy');

        // Remove the temporary input element
        document.body.removeChild(tempInput);

        // You can provide some visual feedback here (e.g., tooltip, alert)
        alert('Note copied to clipboard!');
      });
    });
  });
</script>

{% endblock content %}
