{% extends "base.html" %}
{% load crispy_forms_tags %} 


{% block content %}

<section class="pt-5">

    <div class="container p-3  border shadow bg-white rounded">
      <div style="width: 15rem;">
        <a class="btn btn-success d-flex justify-content-center align-items-center" href="{{ request.META.HTTP_REFERER }}">
          <i class="fs-1 px-2 lni lni-arrow-left"></i>
          <div class="fs-4">Back to Tracker</div>
        </a>
      </div>
        <h2 class="py-1">Add Customer</h2>

        <form method="POST">
          {% csrf_token %}
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
              <div class="col">
                <div data-mdb-input-init class="form-outline">
                    {{customer_form.customer_name|as_crispy_field}}
                </div>
              </div>
              <div class="col-2">
                <div id="customer_error"></div>
                <div data-mdb-input-init class="form-outline">
                    {{customer_form.account_number|as_crispy_field}}
                </div>
              </div>
              <div class="col-2">
                <div data-mdb-input-init class="form-outline">
                    {{customer_form.open_state|as_crispy_field}}
                </div>
              </div>
              <div class="col-2">
                <div data-mdb-input-init class="form-outline">
                    {{customer_form.acc_status|as_crispy_field}}
                </div>
              </div>
            </div>

            <div class="row mb-4">
                <div class="col-2">
                    <div data-mdb-input-init class="form-outline">
                        {{customer_form.military_date|as_crispy_field}}
                    </div>
                </div>
                <div class="col-6">
                    <div data-mdb-input-init class="form-outline">
                        {{customer_form.status_notes|as_crispy_field}}
                    </div>
                </div>
            </div>
            <hr>
          
            
            <!-- Submit button -->
            <div>
              <button class="btn btn-success m-3" type="submit">Submit form</button>
          </div>
        </form>
    </div>
</section>

{% endblock content %}