{% extends "base.html" %} 
{% load crispy_forms_tags %} 


{% block content %}


<div id="layoutSidenav">
  {% include "components/navbar.html" %}
  {% include "components/sidebar.html" %}

  <div class="container pt-5">

    <div class="container pt-5">
      {% if messages %}
        <div class="alert-container">
          {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>{{ message }}</strong> 
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        </div>
      {% endif %}
  </div>
  
     <a class="d-flex mb-2 align-items-center justify-content-center  btn btn-outline-secondary shadow btn-sm" style="width: 18rem;" 
          href="/">
          <i class="h1 lni lni-arrow-left-circle"></i>
          <h3 class="px-3">Back to tracker</h3>
     </a>
    <div class="card shadow" style="width:850px;">
     <div class="row mt-5">
        <div class="d-flex justify-content-center align-items-center text-center">
          
            <div class="row">
                <h3 class="mt-1" >{{customer.customer_name}}</h3>
                <h6 class="text-secondary">{{customer.account_number}} </h6>
                
            </div>
            <div class="row">
                <h3>Added by</h3>
                <h6 class="text-secondary">Eduardo Sanchez</h6>
            </div>
            <div class="row">
                <h3>Status</h3>
                <h6 class="text-secondary">Mil</h6>
            </div>
        </div>
     </div>
     
     <div class="container">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab">Inicio</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#addres_list" role="tab">Address List</a>
              </li>
              
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#email_list" role="tab">Mail List</a>
              </li>
              <li class="nav-item" role="presentation">
                <div class="btn-group">
                  <button type="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Generate letters
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><a href="{% url 'more_info' customer.id %}" class="dropdown-item" target="_blanck" >More Info Letter</a></li>
                    <li><a href="{% url 'denial_letter' customer.id %}" class="dropdown-item"  target="_blanck" >Denial Letter</a></li>
                    <li><a href="{% url 'approval_letter' customer.id %}" class="dropdown-item"  target="_blanck" >Approval Letter</a></li>
                  </ul>
                </div>
              </li>

              <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#duplicates_list" role="tab">Duplicate list</a>
              </li>

            </ul>
            
           
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel">
                {% include "partials/customer_info.html" %}
              </div>
              <div class="tab-pane fade" id="addres_list" role="tabpanel">
                {% include "partials/address_list.html" %}
              </div>
              <div class="tab-pane fade" id="email_list" role="tabpanel">
                {% include "partials/email_list.html" %}
              </div>
              <div class="tab-pane fade" id="duplicates_list" role="tabpanel">
                {% include "partials/duplicates.html" %}
              </div>
            </div>
          </ul>
      </div>
  </div>

</div>

{% endblock content %}
