{% extends "base.html" %} 


{% block content %}

<div class="main-container">
    <!-- Box information  -->
    <div class="row pt-2">
        <div class="col">
            <div
                class="row justify-content-center align-items-center gap-4"
            >
                <div class="col-3 newclaims-show rounded">
                    <p class="fs-2">307.48k</p>
                    <p>New Claims Month counter</p>
                </div>
                <div class="col-3 denials-show rounded">
                    <p class="fs-2">307.48k</p>
                    <p>Denial Month counter</p>
                </div>
                <div class="col-3 approvals-show rounded">
                    <p class="fs-2">307.48k</p>
                    <p>Aproval Month counter</p>
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="row">
        <div  class="">
            <div class="table-width container-fluid">
                {% include "components/table.html" %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}
</div>
