{% extends "base.html" %} 
{% load crispy_forms_tags %} 
{% block content %}

<div class="container">
  {% if messages %}
    <div class="alert-container">
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>{{ message }}</strong> 
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>

<section class="py-4">
  <div class="container p-3 border shadow bg-white rounded">
    <a
      class="d-flex mb-2 align-items-center justify-content-center btn btn-outline-secondary shadow btn-sm"
      style="width: 18rem"
      href="{{request.META.HTTP_REFERER}}"
    >
      <i class="h1 lni lni-arrow-left-circle"></i>
      <h3 class="px-3">Back to tracker</h3>
    </a>

    <h2 class="py-1">Add Customer</h2>

    <form method="POST">
      {% csrf_token %}
      <!-- 2 column grid layout with text inputs for the first and last names -->
      <div class="row mb-4">
        <div class="col-12 col-md-4">
          <div data-mdb-input-init class="form-outline">
            {{customer_form.customer_name|as_crispy_field}}
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div id="customer_error"></div>
          <div data-mdb-input-init class="form-outline">
            {{customer_form.account_number|as_crispy_field}}
          </div>
        </div>
        <div class="col-4 col-md-4">
          <div data-mdb-input-init class="form-outline">
            {{customer_form.open_state|as_crispy_field}}
          </div>
        </div>
        <div class="col-4 col-md-4">
          <div data-mdb-input-init class="form-outline">
            {{customer_form.acc_status|as_crispy_field}}
          </div>
        </div>
        <div class="col-4 col-md-4">
          <div data-mdb-input-init class="form-outline">
            {{customer_form.loan_type|as_crispy_field}}
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-4 col-md-2">
          <div data-mdb-input-init class="form-outline">
            {{customer_form.method_notification|as_crispy_field}}
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div data-mdb-input-init class="form-outline">
            {{customer_form.military_date|as_crispy_field}}
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div data-mdb-input-init class="form-outline">
            {{customer_form.date_open_acc|as_crispy_field}}
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div data-mdb-input-init class="form-outline">
            {{customer_form.date_request|as_crispy_field}}
          </div>
        </div>
      </div>
        <hr />

        <h2 class="py-1">Denial Date</h2>

        <div class="row">

            <div class="col-4">
              <div data-mdb-input-init class="form-outline">
                {{customer_form.danial_date|as_crispy_field}}
              </div>
            </div>

            <div class="col-4">
              <div data-mdb-input-init class="form-outline">
                {{customer_form.denial_note|as_crispy_field}}
              </div>
            </div>

          </div>

        <div class="row">

          <div class="col-3">
            <div data-mdb-input-init class="form-outline mt-4">
              <input type="checkbox" class="form-check-input" name="peding" id="pendingBox">
              <label for="peding">Marck as peding?</label>
            </div>
          </div>

          <div class="col-3">
            <div data-mdb-input-init class="form-outline mt-4">
              {{customer_form.veteran|as_crispy_field}}
            </div>
          </div>

            <div class="pendingShow" id="pendingInfo">
                <hr>
                <h2 class="">Pending Date</h2>
                  <div class="row">
                    <div class="col-3 ">
                      <div data-mdb-input-init class="form-outline mt-4">
                        {{customer_form.reason|as_crispy_field}}
                      </div>
                    </div>
                    <div class="col-3 ">
                      <div data-mdb-input-init class="form-outline mt-4">
                        {{customer_form.pending|as_crispy_field}}
                      </div>
                    </div>
                    <div class="col-4">
                      <div data-mdb-input-init class="form-outline mt-4">
                        {{customer_form.pending_note|as_crispy_field}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3 ">
                      <div data-mdb-input-init class="form-outline mt-4">
                        {{customer_form.resolve_note|as_crispy_field}}
                      </div>
                    </div>
                    <div class="col-3 ">
                      <div data-mdb-input-init class="form-outline mt-4">
                        {{customer_form.resolve_date|as_crispy_field}}
                      </div>
                    </div>
                  </div>

                </div>
            </div>

          {% if customer.qualify == True %}
            <hr />
            <h2 class="py-1">Approval Information</h2>

            <div class="row mb-4">
              <div class="col-5 col-md-2">
                <div data-mdb-input-init class="form-outline">
                  {{customer_form.amount_refund|as_crispy_field}}
                </div>
              </div>
              <div class="col-5 col-md-2">
                <div data-mdb-input-init class="form-outline">
                  {{customer_form.the_way_refund|as_crispy_field}}
                </div>
              </div>
              <div class="col-6 col-md-2">
                <div data-mdb-input-init class="form-outline">
                  {{customer_form.date_refund|as_crispy_field}}
                </div>
              </div>
            </div>

            <div class="row mb-4">
              <div class="col-4">
                <div data-mdb-input-init class="form-outline">
                  {{customer_form.where_fees|as_crispy_field}}
                </div>
              </div>
              <div class="col-4">
                <div data-mdb-input-init class="form-outline">
                  {{customer_form.Interest_Rate|as_crispy_field}}
                </div>
              </div>
              <div class="col-4">
                <div data-mdb-input-init class="form-outline">
                  {{customer_form.Fees|as_crispy_field}}
                </div>
              </div>
            </div>

          {% endif %}

        <button class="btn btn-success m-3" type="submit">Submit form</button>
      </div>
    </form>
  </div>
</section>


<script>
  
  const pendingBox = document.getElementById('pendingBox');
  const pendingDate = document.getElementById('pendingInfo');
  
  pendingBox.addEventListener('click', () => {
    if (pendingBox.checked) {
      // Si el checkbox está marcado, oculta la sección
      pendingDate.classList.remove('pendingShow');
    } else {
      // Si el checkbox no está marcado, muestra la sección nuevamente
      pendingDate.classList.add('pendingShow'); // O 'inline', según el tipo de elemento
    };
  
  });
</script>

{% endblock content %}
