{% extends "base.html" %} 
{% block title %}Inbox{% endblock title %} 

{% block content %}


{% include "components/navbar.html" %}

<div id="layoutSidenav">
{% include "components/sidebar.html" %}

<div id="layoutSidenav_content">

  <div class="container">
    <h2 class="text-white">SCRA Inbox</h2>
    <div class="shadow p-2 rounded-3 bg-light">
      <div class="table-responsive">
        <table style="width:200%;" id="tableInbox" class="table table-bordered text-center">
          <thead>
            <tr>
              <th scope="col">Numero</th>
              <th scope="col">Acc number</th>
              <th scope="col">Recivido</th>
              <th scope="col">Method</th>
              <th scope="col">Valid request?</th>
              <th scope="col">Email received</th>
              <th scope="col">Email sent</th>
              <th scope="col">Sent by</th>
              <th scope="col">Updated</th>
            </tr>
          </thead>

          <tbody class="text-center">
            {% for inbox in inboxes %}
                <tr class="">
                    <td scope="row">{{forloop.counter}}</td>
                    <td><a class="btn btn-success" href="{% url 'detail_customer' inbox.customer.id %}">{{inbox.customer.account_number}}</a></td>
                    <td>{{inbox.date_received|date:"m/d/Y"}}</td>
                    <td>{{inbox.method_notification}}</td>
                    <td>{{inbox.valid}}</td>
                    <td>{{inbox.email_received}}</td>
                    <td>{{inbox.email_sent}}</td>
                    <td>{{inbox.added_by}}</td>
                    <td>{{inbox.updated_by}}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

{% endblock content %}
