{% extends "base.html" %}

<title>Scra {% block title %}Pending{% endblock title %}</title>


{% block content %}

        
    <div class="shadow p-2 mx-1 my-5 rounded-3 bg-light">

      <table id="Pendinglist" class="table table-bordered text-center border overflow-auto">
        <h2 class="mx-1 my-1">Pending List</h2>
        <thead>
          <tr>
            <th>#</th>
            <th>Actions</th>
            <th>Account number</th>
            <th>Customer name</th>
            <th>Status</th>
            <th>reason</th>
            <th>Pending Date</th>
            <th>Pending by</th>
            <th>Pending Note</th>
            <th>Resolve Date</th>
            <th>Resolve Note</th>

          </tr>
        </thead>
        <tbody class="text-center">
            {% for customer in customers %}
              {% if customer.pending %}
                  <tr>
                      <td class="text-center">{{ forloop.counter }}</td>
                      <td class="text-center">
                        <a
                        class="btn btn-success"
                        href="{% url 'detail_customer' customer.id %}"
                      >
                      <i class="ph ph-pencil"></i>
                      </a>
                      </td>
                      <td class="text-center">{{ customer.account_number }}</td>
                      <td class="text-center">{{ customer.customer_name }}</td>

                      {% if customer.pending == 'pending' %}
                        <td class="bg-danger fs-4"><b>{{customer.pending}}</b></td>
                      {% else %}
                        <td class="bg-success fs-4"><b>{{customer.pending }}</b></td>
                      {% endif %}

                      <td class="text-center">{{ customer.reason}}</td>
                      <td class="text-center">{{ customer.pending_date|date:"m/d/Y"}}</td>
                      <td class="text-center">{{customer.pending_by}}</td>
                      <td class="text-center">{{customer.pending_note}}</td>

                      <td class="text-center">
                        {% if customer.resolve_date  %}
                          {{ customer.resolve_date|date:"m/d/Y"}}
                        {% endif %}
                      </td>

                      <td class="text-center">
                        {% if customer.resolve_date  %}
                          {{ customer.resolve_note}}
                        {% endif %}
                      </td>
                  </tr>
              {% endif %}
            {% endfor %}
        </tbody>
      </table>
    </div>
      </div>
  </div>
</div>

{% endblock content %}

