{% extends "base.html" %}
{% load crispy_forms_tags %} 


{% block content %}

<section class="pt-5">
    <div class="container p-3 border shadow bg-white rounded">
        <a
        class="d-flex mb-2 align-items-center justify-content-center btn btn-outline-secondary shadow btn-sm" style="width: 18rem" href="{{request.META.HTTP_REFERER}}">
        <i class="h1 lni lni-arrow-left-circle"></i>
        <h3 class="px-3">Back to tracker</h3>
      </a>
      <h2 class="py-1">Add Note</h2>

    <div>
      <form method="post">
        {% csrf_token %}
        <div class="row mb-1">
            <div class="col-4">
                {{form_duplicates.duplicate_note|as_crispy_field}}
                <div>
                    <button class="btn btn-success m-3" type="submit">Save</button>
                </div>
            </div>
        </div>
    </form>
    
    </div>

</section>



{% endblock content %}