{% load crispy_forms_tags %} 
<h2 class='text-center'>Filters</h2>
        <!-- Campo de búsqueda -->
        <div class="">
            <input type="text" id="filter-search" class="form-control" placeholder="Buscar filtro...">
        </div> 
<form action="" >
    {% csrf_token %}
    <div style='white-space: nowrap;' id="search-results">
 
        <div style= 'width: 200px;' class="m-2 col-1">{{filter.form.loan_type|as_crispy_field}}</div>
        <div style= 'width: 200px;' class="m-2 col-1">{{filter.form.open_state|as_crispy_field}}</div>
        <div style= 'width: 200px;' class="m-2 col-1">{{filter.form.acc_status|as_crispy_field}}</div>
        <div style= 'width: 200px;' class="m-2 col-1">{{filter.form.method_notification|as_crispy_field}}</div>
        <div style= 'width: 200px;' class="m-2 col-1">{{filter.form.date_request|as_crispy_field}}</div>
        <div style= 'width: 200px;' class="m-2 col-1">{{filter.form.date_open_acc|as_crispy_field}}</div>
        <div style= 'width: 200px;' class="m-2 col-1">{{filter.form.military_date|as_crispy_field}}</div>
        <div style= 'width: 200px;' class="m-2 col-1">{{filter.form.qualify|as_crispy_field}}</div>
        <div style= 'width: 200px;' class="m-2 col-1">{{filter.form.date_refund|as_crispy_field}}</div>
        <div style= 'width: 200px;' class="m-2 col-1">{{filter.form.date_mil|as_crispy_field}}</div>
        <div style= 'width: 200px;' class="m-2 col-1">{{filter.form.danial_date|as_crispy_field}}</div>

       

        <div class="d-flex justify-content-center">
            <button class='btn btn-success m-1' type="submit">Filter</button>
            <a class="btn btn-danger m-1" href="{% url 'home' %}">Clear All Filters</a>
        </div>
    </div>
</form>


<script>
    // Función para filtrar los elementos de los filtros según el texto ingresado
    function filterSearch() {
        var input, filter, div, a, i, txtValue;
        input = document.getElementById('filter-search');
        filter = input.value.toUpperCase();
        div = document.getElementById("search-results");
        a = div.getElementsByTagName('div');
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }

    // Evento de escucha para el cambio en el campo de búsqueda
    document.getElementById('filter-search').addEventListener('keyup', filterSearch);
</script>
