{% load crispy_forms_tags %} 
        {% comment %} <!-- Campo de búsqueda -->
        <div class="">
            <input type="text" id="filter-search" class="form-control" placeholder="Filter search...">
        </div>  {% endcomment %}
<form action="" >
    {% csrf_token %}
    <div class="" id="search-results">
 
        <div class="ms-5 col-6 ">{{filter.form.loan_type|as_crispy_field}}</div>
        <div class="ms-5 col-6 ">{{filter.form.open_state|as_crispy_field}}</div>
        <div class="ms-5 col-6 ">{{filter.form.acc_status|as_crispy_field}}</div>
        <div class="ms-5 col-6 ">{{filter.form.method_notification|as_crispy_field}}</div>
        <div class="ms-5 col-6 ">{{filter.form.date_request|as_crispy_field}}</div>
        <div class="ms-5 col-6 ">{{filter.form.date_open_acc|as_crispy_field}}</div>
        <div class="ms-5 col-6 ">{{filter.form.military_date|as_crispy_field}}</div>
        <div class="ms-5 col-6 ">{{filter.form.qualify|as_crispy_field}}</div>
        <div class="ms-5 col-6 ">{{filter.form.date_refund|as_crispy_field}}</div>
        <div class="ms-5 col-6 ">{{filter.form.date_mil|as_crispy_field}}</div>
        <div class="ms-5 col-6 ">{{filter.form.danial_date|as_crispy_field}}</div>
    </div>
    <div class="d-flex">
        <button class='btn btn-success m-1' type="submit">Filter</button>
        <a class="btn btn-danger m-1" href="{% url 'home' %}">Clear All Filters</a>
    </div>
</form>


<script>
    // Función para filtrar los elementos de los filtros según el texto ingresado
    function filterSearch() {
        var input, filter, div, a, i, txtValue;
        input = document.getElementById('filter-search');
        filter = input.value.toUpperCase();
        div = document.getElementById("search-results");
        a = div.getElementsByTagName('div');
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }

    // Evento de escucha para el cambio en el campo de búsqueda
    document.getElementById('filter-search').addEventListener('keyup', filterSearch);
</script>
