<table id="scraList" class="table table-bordered text-center" >
  <div class="d-flex justify-content-between">
    <a class="btn btn-success" href="{% url 'add_customer' %}">New entry</a>
    <a class="btn btn-success" href="{% url 'export_data' %}">Export Data to Excel</a> 
  </div>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Loan Type</th>
      <th>Account number</th>
      <th>Estate</th>
      <th>Acc status</th>
      <th>Date request</th>
      <th>Method notification</th>
      <th>Date open acc</th>
      <th>Military Date</th>
      <th>Does qualify?</th>
      <th class="text-center status">Status note</th>
      <th>Amount refund</th>
      <th>The way refund</th>
      <th>Date refund</th>
      <th>Where fees</th>
      <th>Where waived</th>
      <th>Waive interest</th>
      <th>Approved by</th>
      <th>First Review</th>
      <th>Date More info letter</th>
      <th class="bg-secondary">Alert Denial Date</th>
      <th class="">Denial Date</th>
      <th class="">Denial user</th>
    </tr>
  </thead>
  
  <tbody class="text-center"  >
    {% for customer in customers %}
    
    <tr class="customer-row {% if customer.veteran%} bg-danger {% endif %}">
      <td class="text-center">{{ forloop.counter }}</td>
      <td class="text-center">
        <a
          class="btn btn-success btn-sm"
          href="{% url 'detail_customer' customer_id=customer.id %}">
          {{customer.customer_name}}
          
        </a>
      </td>
      <td class="text-center">{{customer.loan_type}}</td>
      <td class="text-center">{{customer.account_number}}</td>
      <td class="text-center">{{customer.open_state}}</td>
      <td class="text-center">{{customer.acc_status}}</td>
      <td class="text-center">{{customer.date_request|date:"m/d/Y"}}</td>
      <td class="text-center">{{customer.method_notification}}</td>
      <td class="text-center">{{customer.date_open_acc|date:"m/d/Y"}}</td>
      <td class="text-center">{{customer.military_date|date:"m/d/Y"}}</td>
      <td class="text-center">
        {% if customer.qualify %}
          Yes
        {% else %}
          No
        {% endif %}
      </td>
      <td class=" status">{{customer.status_notes}}</td>
      {% if  customer.amount_refund %}
      <td class="text-center">{{customer.amount_refund}}</td>
      {% else %}
        <td>N/A</td>
      {% endif %}
      <td class="text-center">{{customer.the_way_refund}}</td>
      {% if  customer.date_refund %}
      <td class="text-center">{{customer.date_refund|date:"m/d/Y"}}</td>
      {% else %}
        <td>N/A</td>
      {% endif %}
      <td class="text-center">{{customer.where_fees}}</td>
      <td class="text-center">{{customer.where_waived}}</td>
      <td class="text-center">{{customer.waive_interest}}</td>
      <td class="text-center">
        {% if customer.approved_by %} {{customer.approved_by}}{% endif %}
      </td>
      <td class="text-center">{{customer.first_review|date:"m/d/Y"}}</td>
      <td class="text-center">{{customer.date_mil|date:"m/d/Y"}}</td>
      <td class="text-center bg-secondary">{{customer.date_alert_dl|date:"m/d/Y"}}</td>
      <td class="text-center">{{customer.danial_date|date:"m/d/Y"}}</td>
      {% if  customer.denial_by %}
      <td class="text-center">{{customer.denial_by}}</td>
      {% else %}
        <td></td>
      {% endif %}

    </tr>
    {% endfor %}
  </tbody>
</table>